@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: 215 78 50;
  --color-primary-foreground: 0 0 100; /* Typically White/Light for foreground */
  --color-accent: 255 153 0; /* You can define accent */
  /* Define other necessary channels if customizing deep: */
  --color-focus: 215 78 50; /* For input focus rings */
}
/* globals.css or equivalent */
html,
body {
  /* CRITICAL: Ensures the root elements take up the full viewport */
  height: 100vh;
  width: 100vw;

  /* CRITICAL: Prevents horizontal scrollbar from appearing */
  /* Even if margin: 0 is set, this is a strong defense */
  overflow-x: hidden;
}
/* Define the Green Palette (as HSL values: H S L) */
/* This is an example, you can adjust the HSL values for your preferred green */
* {
  scrollbar-color: #040f0009;
  scrollbar-width: 1px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track:vertical {
  width: 1;
  background-color: #040f0009;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  width: 1;
  background-color: #040f0003;
  border-radius: 5px;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-primary: green;
  }
}
:root {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
